    <nav class="global primary">
        <a href="index.html">home</a>
        <a href="media.html" class="active">browse by media</a>
        <a href="doctor.html">browse by doctor</a>
        <a href="companion.html">browse by companion</a>
        <a href="search.html">search</a>
    </nav>

    <section class="page_context">
      <h1>Browse by media</h1>
      <p>Spanning five decades Doctor Who is one of the most iconic series in television history. Spread across many types of media, from the television screen to print, comics, audio, and more, it is also one of the most influential series to ever hit the airwaves.</p>
    </section>
    
    <section class="cluster">
    <h2>Books and print</h2>  
      <section class="subgroup">
      <figure>
        <a href="/media/vna"><%= image_tag src="vna-icon.jpg", :title => 'Virgin New Adventures' %></a>
        <figcaption>Virgin New Adventures</figcaption>
      </figure>
      
      <figure>
        <a href="/media/vma"><%= image_tag src="vma-icon.jpg", :title => 'Virgin Missing Adventures' %></a>
        <figcaption>Virgin Missing Adventures</figcaption>
      </figure>
      </section>
      
      <section class="subgroup">
      <figure>
        <a href="/media/eda"><%= image_tag src="eda-icon.jpg", :title => 'Eighth Doctor Adventures' %></a>
        <figcaption>Eighth Doctor Adventures</figcaption>
      </figure>
      
      <figure>
        <a href="/media/pda"><%= image_tag src="pda-icon.jpg", :title => 'Past Doctor Adventures' %></a>
        <figcaption>Past Doctor Adventures</figcaption>
      </figure>
      </section>
      
      <section class="subgroup">
      <figure>
        <a href="/media/nsb"><%= image_tag src="newseriesbooks-icon.jpg", :title => 'New Series (novels)' %></a>
        <figcaption>BBC New Series</figcaption>
      </figure>
      
      <figure>
        <a href="/media/otherbooks"><%= image_tag src="otherbooks-icon.jpg", :title => 'Other materials' %></a>
        <figcaption>Other materials</figcaption>
      </figure>
      </section>
    </section>
    
    <section class="cluster">
    <h2>Video and audio</h2>
      <figure>
        <a href="/media/classic"><%= image_tag src="classicseries-icon.jpg", :title => 'Classic Series' %></a>
        <figcaption>Classic series</figcaption>
      </figure>
      
      <figure>
        <a href="/media/newseries"><%= image_tag src="newseries-icon.jpg", :title => 'New series' %></a>
        <figcaption>New series</figcaption>
      </figure>
      
      <figure>
        <a href="/media/spinoffs"><%= image_tag src="spinoffs-icon.jpg", :title => 'Spinoffs' %></a>
        <figcaption>Spin offs</figcaption>
      </figure>
    </section>
